---
const data = await fetch('https://icps-lab.com/api/cloudinary')
  .then(res => res.json());

const images = Array.isArray(data) ? data : data.resources;
---

<html>
  <head>
    <title>ICCT-Pacific 2026</title>
  </head>

  <body style="background:#fff; padding:20px;">

    <h1 style="text-align:center; margin-bottom:30px;">
      ICCT-Pacific 2026 活動照片
    </h1>

    <div style="
      display:grid;
      grid-template-columns: repeat(3,1fr);
      gap:20px;
    ">
      {images?.map(img => (
        <img src={img.secure_url} style="width:100%;" />
      ))}
    </div>

  </body>
</html>